#body{
    display :flex;
    justify-content : center ;
    align-content : center ;
    flex-direction :column ;
    align-items :center ;
     width :100vw;
    height :100vh;
    font-size :25px;
}
#button {
    width :100px;
    height :50px;
      font-size :25px;
}
